<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #30096f;">
<div class="container">
  <a href="/Index" class="navbar-brand ">Gamificação 4 - TDS</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/Categories" >Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Movies">Filmes</a>
      </li>
    </ul>
  </div>
</div>
</nav>
